#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Rich_text_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-cover {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Rich_text_51 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-cover_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}