#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Map-Screen {
  border-collapse: separate;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-List-Items-Screen {
  border-collapse: separate;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Cell-content_1 > .valign {
  vertical-align: middle;
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Rich_text_50 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-cover {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Rich_text_51 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-cover_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fd39b74-4dfb-46b8-8597-df6e6e96b481 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}