#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Rich_text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 194px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Rich_text_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 194px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Line_13 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Line_13 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bb395869-46b5-48da-89c4-9668408feb7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}