#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Map-Screen {
  border-collapse: separate;
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-List-Items-Screen {
  border-collapse: separate;
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Cell-content_1 > .valign {
  vertical-align: middle;
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Rich_text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_72 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_215 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_103 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Rich_text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_214 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb #s-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#s-96a06720-ecb5-4bad-ab8e-1fcdb8e185bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}